.todo-list {
  display: flex;
  flex-flow: column;
  margin: auto;
  align-content: center;
  font-size: 1.8rem;
  background-color: whitesmoke;
  width: 60vw;
  padding-left: 10px;
  padding-right: 10px;
}
