.todo-list-header form,
.todo-list-header input {
  min-width: 95%;
  font-size: inherit;
  max-width: inherit;
  margin: 10px;
  border-bottom: 1px gray solid;
}
.todo-list-header {
  font-size: 3.3rem;
  margin-left: 50px;
  width: 90%;
  margin-top: 10px;
  /*min-width: 100%;*/
}
.todo-list-header input {
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
}
::placeholder {
  color: rgba(125, 125, 125, 0.25);
}
